.locations {
    clear: left;
    float: left;
    padding: 0;
    margin: 10px 10px 10px 10px;
    display: inline;
    -moz-min-width: 800px;
    -ms-min-width: 800px;
    -o-min-width: 800px;
    -webkit-min-width: 800px;
    min-width: 800px;
    width: 870px;
    align-content: center;
}

.categories {
    clear: left;
    float: left;
    padding: 20px 0;
    margin: 0 0 0 30px;
    display: inline;
    -moz-min-width: 240px;
    -ms-min-width: 240px;
    -o-min-width: 240px;
    -webkit-min-width: 240px;
    min-width: 240px;
    width: 250px;
}

.category-selectors {
    clear: left;
    float: left;
    padding: 20px 0px 0px 20px;
    margin: 0 0 0 0;
    display: inline;
    -moz-min-width: 860px;
    -ms-min-width: 860px;
    -o-min-width: 860px;
    -webkit-min-width: 860px;
    min-width: 860px;
    width: 870px;
}

.filters {
    clear: left;
    float: left;
    padding: 20px 0;
    margin: 0 0 0 30px;
    display: inline;
    -moz-min-width: 200px;
    -ms-min-width: 200px;
    -o-min-width: 200px;
    -webkit-min-width: 200px;
    min-width: 200px;
    width: 210px;
}

.products {
    float: right;
    padding: 20px 0;
    margin: 0 20px 0 0;
    display: inline;
    -moz-min-width: 450px;
    -ms-min-width: 450px;
    -o-min-width: 450px;
    -webkit-min-width: 450px;
    min-width: 450px;
}

div.footer {
    text-align: right;
}

div.search {
    text-align: right;
}

.filter {
    OVERFLOW-Y: scroll;
    WIDTH: 207px;
    max-height: 212px
}
