.categories {
    clear: left;
	float: left;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
    -moz-min-width: 240px;
    -ms-min-width: 240px;
    -o-min-width: 240px;
    -webkit-min-width: 240px;
    min-width: 240px;
    width: 250px;
}

.products
{
	float: right;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
    -moz-min-width: 450px;
    -ms-min-width: 450px;
    -o-min-width: 450px;
    -webkit-min-width: 450px;
    min-width: 450px;
}

div.footer
{
    text-align: right;
}

div.search
{
    text-align: right;
}