<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  <pages>
      <controls>
        <add tagPrefix="gmaps" namespace="Subgurim.Controles" assembly="GMaps" />
      </controls>
    </pages></system.web>
  <connectionStrings>
    <add name="SelectedHotelsEntities" connectionString="metadata=res://*/SelectedHotels.csdl|res://*/SelectedHotels.ssdl|res://*/SelectedHotels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=selectedhot;persist security info=True;user id=sa;password=C130Hercules;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<appSettings>
    <!-- Add your Google Maps API Key from Google -->
    <add key="googlemaps.subgurim.net" value="" />
    <!-- And add your Commercial Key from Subgurim if you have purchased one -->
    <add key="googlemaps.subgurim.net_Commercial" value="" />
  </appSettings></configuration>